body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #15090950;
}
button {
  background-color: #15090950;
  color: rgb(20, 2, 2);
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
  width: 100%;
  border-radius: 12px;
  transition-duration: 1s;
}
button:hover {
  background-color: lightgrey;
}
a {
  float: left;
  display: block;
  color: #ec1216b5;
  text-decoration: none;
  background-color: #720d86;
}
img {
  width: 80%;
  height: auto;
  display: flex;
}
p {
  margin: 5px 5px;
  padding: 20px;
  font-family: serif;
  font-size: 30px;
}
.navbar {
  overflow: hidden;
}
.navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 5px 26px;
  text-decoration: none;
}
#leao_nemeia,
#lerna,
#corca,
#javali,
#augias,
#estinfalo,
#touro,
#diomedes,
#hipolita,
#geriao,
#maca,
#cerbero,
#menu {
  margin: 20px 20px;
  color: purple;
}
